@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'louis';
  src: url('/src/assets/fonts/LouisGeorgeCafe.ttf') format('truetype');
}

@font-face {
  font-family: 'protest';
  src: url('/src/assets/fonts/ProtestGuerrillaRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Netflixbold';
  src: url('/src/assets/fonts/NetflixSansBold.otf') format('opentype');
}

@font-face {
  font-family: 'Netflixmedium';
  src: url('/src/assets/fonts/NetflixSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Netflixlight';
  src: url('/src/assets/fonts/NetflixSansLight.otf') format('opentype');
}

.bg-gradient {
  background: linear-gradient(to bottom, black, #faf9f6);
  height: 290vh;
}
.news-ticker-container {
  overflow: hidden;
  height:150px; /* Adjust the height as needed */
}
@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.news-ticker {
  display: inline-block;
  white-space: nowrap;
  animation: tickerAnimation 10s linear infinite; /* Adjust the duration as needed */
}

.ol2 {
  /* Combined gradient to fade out on both the left and right edges */
  --mask: linear-gradient(to right, 
      rgba(0,0,0, 0) 0%, 
      rgba(0,0,0, 1) 20%, 
      rgba(0,0,0, 1) 80%, 
      rgba(0,0,0, 0) 100%
  );


  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-size: 100% 100%; /* Ensure the mask covers the full width */
  mask-size: 100% 100%;
  -webkit-mask-position: center;
  mask-position: center;
  width: 100%; /* Ensure the element spans the full width */
}